<div ng-controller="petListCtrl">
    <h1>Lemmikloomade nimekiri</h1>

    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/#/pets/new" class="btn btn-primary pull-right">Lisa uus</a>
        </div>
    </div>
    <div class="table-responsive row">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nimi</th>
                <th>Tõug</th>
                <th>Vanus</th>
                <th>Omanik</th>
                <th>Muuda/Kustuta</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Pet in Pets">
                <td>{{Pet.PetID}}</td>
                <td>{{Pet.Name}}</td>
                <td>{{Pet.Breed}}</td>
                <td>{{Pet.Age}}</td>
                <td>{{Pet.Owner.FirstName}} {{Pet.Owner.FirstName}} <small>(ID: {{Pet.Owner.OwnerID}})</small></td>
                <td>
                    <a href="/#/pets/edit/{{Pet.PetID}}" class="btn btn-default btn-sm">Muuda</a>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="petDelete(Pet.PetID)">Kustuta</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>